@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  margin: 0px;
  box-sizing: border-box;
}

@layer base {
  ul,
  ol {
    list-style: circle;
  }
}

@layer components {

  .Modal {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 20px;
  }
  .Overlay {
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4) !important;
    z-index: 50;
  }
  .closeBtn {
    cursor: pointer;
    font-weight: 500;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    transition: all 0.25s ease;
    position: absolute;
    right: 4px;
    top: 0;
    align-self: center;
    overflow: hidden;
  }

  .closeBtn:hover {
    transform: scale(1.2);
  }
  .circle {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width:50px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    background-color: #ff5700;
    border: 3px solid #fff;
  }
  .pos-center {
    position: fixed;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
  }

  .loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
